---
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DrMathy | Susan Christine Massey, PhD</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/styles.css">
  </head>
  <!-- <nav id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        {% assign links = site.data.navigation %}
        {% for link in links %}
            {% assign class = nil %}
            {% if page.url contains link.url %}
                {% assign class = 'active' %}
            {% endif %}
            {% if link.sublinks %}
                <li class="dropdown {{ class }}">
                    <a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ link.title }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for sublink in link.sublinks %}
                            {% if sublink.title == 'separator' %}
                                <li role="separator" class="divider"></li>
                            {% else %}
                                <li>
                                    <a href="{{ site.url }}{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li class="{{ class }}">
                    <a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav> -->
  <body data-spy="scroll" data-target="#navbar-example">
    <nav id="navbar-example2" class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">DrMathy</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#About">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#Research">Research</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#Publications">Publications</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#Events">Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#Contact">Contact Me</a>
    </li>
    <!-- <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#one">one</a>
        <a class="dropdown-item" href="#two">two</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="#three">three</a>
      </div> -->
    </li>
  </ul>
</nav>
    <main class="view-container">
      {% include hero.html %}

      {% assign sections = site.sections | sort: 'order' %}
      {% for section in sections %}
        {% if section.include != null %}
          {% include {{ section.include }} %}
        {% endif %}
      {% endfor %}
      <section>
      </section>
    </main>
  </body>
</html>
