---
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DrMathy | Susan Christine Massey, PhD</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <main class="view-container">
      {% include hero.html %}

      {% assign sections = site.sections | sort: 'order' %}
      {% for section in sections %}
        {% if section.include != null %}
          {% include {{ section.include }} %}
        {% endif %}
      {% endfor %}
      <section>
      </section>
    </main>
  </body>
</html>
