<section class="color-2-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% include heading.html %}
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-md-12">
              <ul class="section-links flex flex-column flex-align-start">
                <li>
                  <a href="">About Me</a>
                </li>
                <li>
                  <a href="">My Research</a>
                </li>
                <li>
                  <a href="">My Publications</a>
                </li>
                <li>
                  <a href="">My Events</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
